[Unit]
Description=Ui Service 
After=dbus.service
Requires=dbus.service
[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/custom_ui.sh
EnvironmentFile=/etc/default/gomydesk

[Install]
WantedBy=default.target